
<section >
  <div class="col-xs-12 lead-info">
    <h1>Badders League Final Name</h1>
  </div>  
  <div class="col-xs-12 lead-info">
    <p>Intro blethering stuff yada yada yada yada</p>
  </div> 
  <div class="col-xs-12 lead-info"> 
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Option 1</button>
      <button type="button" class="btn btn-default">Option 2</button>
      <button type="button" class="btn btn-default">Option 3</button>
    </div>
  </div>
</section>
<section>
  <%= image_tag "badders_racquet.jpeg" %>
</section>  