<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <div>
        <h1>
          Create New Singles Match
        </h1> 
      </div>  
    </div>
<!--     <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <button type="button" class="btn btn-secondary">
        <%= link_to "Create Singles Match", create_singles_match_path  %>
      </button>
      <button type="button" class="btn btn-secondary">
        <%= link_to "Create Doubles Match" %>
      </button> 
    </div> -->  

  </div> 






<!--   <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <button type="button" class="btn btn-secondary">
        <%= link_to "View All Matches",  matches_path %>
      </button>
    </div>   -->
  </div>  
</div>  